apiVersion: apps/v1
kind: Deployment
metadata:
    name: order-service
spec:
    replicas: 1
    selector:
        matchLabels:
            app: order-service
    template:
        metadata:
            labels:
                app: order-service
        spec:
            containers:
                - name: order-service
                  image: 600627355881.dkr.ecr.ap-south-1.amazonaws.com/valerix/order-service:latest
                  ports:
                      - containerPort: 3001

                  env:
                      - name: ORDER_DB_USER
                        valueFrom:
                            secretKeyRef:
                                name: db-secrets
                                key: ORDER_DB_USER

                      - name: ORDER_DB_PASSWORD
                        valueFrom:
                            secretKeyRef:
                                name: db-secrets
                                key: ORDER_DB_PASSWORD

                      - name: ORDER_DB_NAME
                        valueFrom:
                            secretKeyRef:
                                name: db-secrets
                                key: ORDER_DB_NAME

                      - name: DATABASE_URL
                        value: postgresql://$(ORDER_DB_USER):$(ORDER_DB_PASSWORD)@order-db:5432/$(ORDER_DB_NAME)

                      - name: INVENTORY_SERVICE_URL
                        value: "http://inventory-service:3002"

                      - name: RABBITMQ_URL
                        value: "amqp://user:password@rabbitmq:5672"

                      - name: PORT
                        value: "3001"

                  livenessProbe:
                      httpGet:
                          path: /health
                          port: 3001
                      initialDelaySeconds: 20
                      periodSeconds: 10

                  readinessProbe:
                      httpGet:
                          path: /health
                          port: 3001
                      initialDelaySeconds: 10
                      periodSeconds: 5

---
apiVersion: v1
kind: Service
metadata:
    name: order-service
spec:
    type: ClusterIP
    selector:
        app: order-service
    ports:
        - port: 3001
          targetPort: 3001
